:root {
    
    font-family: 'roboto';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
    --fa-primary: #ff7eee;
    --fa-secondary: #df49a6;
  scrollbar-color: var(--fa-primary) #1e1e24 ;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  }
  .fa-primary {
    color: var(--fa-primary);
  }
  
  .fa-secondary {
    color: var(--fa-secondary);
  }
  

  .top-header{
    letter-spacing: 0.3ch;
    width: 100%;
    cursor: pointer;
    
    font-family: "poppins";
    font-weight: 100;
    filter: grayscale(100%) opacity(0.7);
    color: var(--text-primary);
    .top-logo{
        
        padding-top: 1rem;
        margin-bottom: -0.2rem;
        z-index: 18;
    }
    ul{
       font-size: clamp(2rem, 1.6vw, 2.7rem); 
    }

  }
  .top-header:hover{
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
 

  ul{
      margin: 0;
      padding: 0;  
      list-style: none;
      list-style-type: none;
    
  }
  body {
    display:inline-flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background:var(--bg-primary);
    overflow: auto ;
  
  body::-webkit-scrollbar {
    width: 0.45rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--bg-primary);
  }
  }
  .navigation{
   
   display:block;
   top:0px;
   background: var(--bg-primary);    
   position: sticky;
   height: 40vh;
   overflow-y:scroll;
   width: 100%;
   scrollbar-color: var(--fa-primary) #1e1e24 ;
   scrollbar-width: thin;

}
 
main{
    overflow: auto;
    height: auto;
    height: 60vh;
    width: 100%;
    color: var(--text-primary);
    position: relative;
    scrollbar-width: thin;
     scroll-behavior: smooth;
  }



code{
    color: var(--fa-primary);
}




  .navbar {
   
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    
  }
  
  .navbar-nav {
    font-size: clamp(1.3rem, 1vw, 2rem);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
    
  }
  
  .nav-item:last-child {
    margin-top: auto;
  }
  
  .nav-link {
    display: block;
    
    padding-top: 1em;
    
    height: 2em;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
  
  .link-text {
    display: inline;
    
  }
  
  svg {
    width: 1.2rem;
    height: 2rem;
    
  }

section{
  div{
    a{
    span{text-decoration: none!important;
    color: var(--text-primary);
    padding-top: 5.5rem;
    padding-bottom: 1rem;
    text-align: center;
    display: block;
        }
    }
  }
}



   .text-header{
     font-weight: bold;
     margin: 0 2rem; 
     padding-bottom: 0.5rem;
     font-size: clamp(1.3rem, 1.2vw, 2rem) ;
     padding-top: 1rem;  
     border-top: solid var(--text-secondary);  
   }
    
  p{
    margin: 0 2rem;  
    letter-spacing: 0.2ch;
    font-size: clamp(1rem, 1vw, 2rem); 
    padding:0.5rem 0 ;
  }
  .lists{
    padding:0.5rem 0 ;
    margin: 0 2rem;  
    letter-spacing: 0.2ch;
    font-size: clamp(1rem, 1vw, 2rem); 
  }
  b{
    padding:0.8rem 0 ;
    margin: 0 2rem;     
  }
  
  /*.navbar:hover .logo svg {
    transform: rotate(-180deg);
  }*/
  
  /* Small screens */
  
 
  
  .dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
  }
  
  .light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
  }
  
  .solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
  }
  
  .theme-icon {
    display: none;
  }
  
  .dark #darkIcon {
    display: block;
  }
  
  .light #lightIcon {
    display: block;
  }
  
  .solar #solarIcon {
    display: block;
  }
  @media only screen and (min-width: 1352px){
      body{
        display: flex;
        flex-direction: row; 
        justify-content: flex-start;
      }

      .navigation{
         position: sticky;
         top: 0px;
        padding-top: 2em;
          margin-left: 3rem;
          height: auto;
          width:150vw;
          
          .navbar-nav {
   
            text-align:left;
            display: flex;
            
            align-items:flex-start;
            height: 100%;
          }

      }
      main{
          
          height: 100vh;
          width: auto;
          
      }
      section{
        div{
          a{
          span{
          
          text-align: left;
          
              }
          }
        }
      }

  }