@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");
html {
  scroll-behavior: smooth;
}

header {
  font-family: "Roboto mono";
  color: #ffffff;
  padding-bottom: 2rem;
}

#logo {
  filter: invert(100%);
}

body {
  font-size: 1.2rem;
  font-family: "Roboto mono";
  background-color: #2f4e91;
  color: #ffffff;
}

section {
  padding-top: 2rem;
  padding:0 2rem ;
}
.tinynote{
  font-size: 0.5rem;
}
#SD_card {
  margin-top: -25px;
  
  display: inline-block;
}

@media (max-width: 900px) {
  #SD_card {
    padding-top: 300px;
    display: inline-block;
  }

  #Monitor_Connection {
    margin-top: -275px;
    padding-top: 275px;
    display: inline-block;
  }

  #Keyboard_and_mouse {
    margin-top: -275px;
    padding-top: 275px;
    display: inline-block;
  }

  #Power_supply {
    margin-top: -275px;
    padding-top: 275px;
    display: inline-block;
  }

  #Ethernet {
    margin-top: -275px;
    padding-top: 275px;
    display: inline-block;
  }

  #USB_wireless_dongle {
    margin-top: -275px;
    padding-top: 275px;
    display: inline-block;
  }

  #Audio_lead {
    margin-top: -275px;
    padding-top: 275px;
    display: inline-block;
  }

  #Troubleshooting {
    margin-top: -275px;
    padding-top: 275px;
    display: inline-block;
  }

  #Installing_operating_system_images {
    margin-top: -275px;
    padding-top: 275px;
    display: inline-block;
  }

  #Using_other_tools {
    margin-top: -275px;
    padding-top: 275px;
    display: inline-block;
  }

  #Boot_your_new_OS {
    margin-top: -200px;
    padding-top: 200px;
    padding-bottom: 300px;
    display: inline-block;
  }
}
/*
 * Sidebar
 */
:any-link {
  color: #fff;
}

.sidebar-sticky {
  font-size: 1.2rem;
  top: 0;
  height: 36vh;
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
  background-color: #0c2672;
  color: rgba(216, 216, 216, 0.945);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) {
  .sidebar-sticky {
    font-size: 1.2rem;
    height: 100vh;
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #18295c;
    color: rgba(216, 216, 216, 0.945);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
  }
}
@supports (position: -webkit-sticky) or (position: sticky) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}
a {
  font-size: 1.2rem;
  margin-top: 0.6em;
  margin-bottom: 0.5em;
  font-weight: 500;
  color: #afafaf;
}

@media (max-width: 900px) {
  a {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-weight: 500;
    color: #afafaf;
  }
}
/*
 * Navbar
 */
.navbar {
  background-color: #1c3486;
}

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  
  background-color: #3d65bb;
}

.navbar .form-control {
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

/*animated toggler*/

/*# sourceMappingURL=main.css.map */
